<!--
  Generated template for the FacilityListItem component.

  See https://angular.io/docs/ts/latest/api/core/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<ion-item-sliding>

  <ion-item (click)="facilitySelected(facility)">
    <ion-icon name="checkmark" *ngIf="facility.isActive" item-left></ion-icon>
    <ion-icon *ngIf="!facility.isActive" item-left></ion-icon>

    <h2>{{ facility.name }}</h2>
    <p>{{ facility.description }}</p>
  </ion-item>

  <ion-item-options side="right">
    <button primary (click)="claimFacility(facility)">
      Select
    </button>
  </ion-item-options>

</ion-item-sliding>
